*{
    margin: 0;
    padding: 0;
}
.window{
    /*设置窗口*/
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin:20px auto;
}
.window .images{
    /*如下两步可以使竖着排列的几张图片横着排列*/
    display: flex;   
    align-items: flex-start;
    transition: all 0.5s;
    position: relative;
    top: 0;
}
.window .images img{
    width: 300px;
    /*如果设置了绝对定位后，窗口一定要设置高度*/
    position: absolute;
}
.window .images img.enter{
    left: 0;
    transform: translateX(-100%);
    z-index: 1;  
}
.window .images img.current{
    left: 0;
    transform: translateX(0);
}
.window .images img.leave{
    left: 0;
    transform: translateX(100%);
}